.panel-title {
  color: white;
  margin-left: 15px;
  margin-right: auto;
  margin-top: 15px;
  font-weight: 600;
  font-size: 25px;
}

.selectrow {
  width: calc(97% - 10px);
  overflow-x: auto;
}

.queuelisting {
  width: 80%;
  height: fit-content;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
  align-items: flex-start;
  transition: filter 120ms linear;
  min-height: 30vh;
}
