.queuelayout {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: flex-start;
  justify-content: flex-start;
  align-items: flex-start;
}

.headerleft {
  height: 95%;
  width: 90%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
  margin-top: 10px;
}

.headerleft .icon {
  width: 120px;
  height: 120px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: -60px;
}

.headerleft .row.buttonsrow {
  margin-top: auto;
  width: 100%;
  display: flex;
}

.headerleft .row.buttonsrow button:first-child {
  width: 200%;
  margin-right: 10px;
}

.headerleft .row.buttonsrow button:last-child svg {
  height: 13px;
  margin-left: 5px;
}

#pagebanner::after {
  content: "";
  width: 100%;
  height: 250px;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(
    0deg,
    var(--background1) 0%,
    rgba(0, 0, 0, 0.747) 100%
  );
  z-index: 1;
}

.queuename {
  color: white;
  font-size: 23px;
  font-weight: 400;
  margin-top: 15px;
}

.queuename:hover {
  text-decoration: underline;
  cursor: pointer;
}

.headerleft .modeicon {
  margin-top: 5px;
}

.headerleft button:hover {
  filter: brightness(1.2);
}

.headerleft .queue-preferences {
  width: 100%;
  height: 50%;
  margin-top: 10px;
}

.headerleft .queue-preferences .wrapper {
  width: calc(100% - 6%);
  height: 100%;
  background-color: var(--background5);
  border-radius: 5px;
  padding: 3%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: flex-start;
  align-items: flex-start;
}

.headerleft .queue-preferences .wrapper div {
  width: fit-content;
  padding: 3px;
  border-radius: 3px;
  background-color: var(--background3);
  margin: 2px;
  color: #c7c7c7;
}

.headerleft button:first-of-type {
  display: block;
  background-color: var(--green);
  color: black;
}

.headerleft button {
  display: block;
  width: 100%;
  margin: 2px 0px;
  padding: 5px 2px;
  border-radius: 3px;
  font-weight: 500;
  transition: filter ease-in-out 80ms;
}

.queuecontent {
  width: calc(95% - 250px - 1rem);
  height: fit-content;
  border-radius: 1rem;
  display: inline-flex;
  margin: 23px;
  margin-top: 0px;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  top: 70px;
}

.queuecontent .queuenav {
  width: 100%;
  padding: 0px 10px;
  height: 60px;
  border-radius: 1rem;
  background-color: var(--background5);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
}

.requestlisting {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
  align-items: flex-start;
}

.requestlisting .loading {
  width: 100%;
  height: 40vh;
  margin-top: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.requestlisting .loading .patchouli {
  width: 190px;
  height: 190px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(/src/static/images/patiole.png);
  animation: spin 2000ms linear infinite;
}

.requestlisting .loading {
  font-weight: 500;
  font-size: 25px;
  margin-top: 10px;
}

.following-button {
  border: none;
  background: var(--pink);
}

.pending {
  background-color: rgb(255 124 0) !important;
}

.accepted {
  background-color: #25ca6a !important;
}

.finished {
  background-color: #259bca !important;
}

.nominated {
  background-color: #259bca !important;
}

.rejected {
  background-color: #d4152f !important;
}

.rechecking {
  background-color: #cf3274 !important;
}

.archived {
  background-color: #5f5f5f !important;
}

.waiting {
  background-color: #f44336 !important;
}

.pending-hover:hover {
  background-color: rgb(255 124 0) !important;
  color: white;
}

.recheck-hover:hover {
  background-color: #cf3274 !important;
  color: white;
}

.accept-hover:hover {
  background-color: #25ca6a !important;
  color: black;
}

.finish-hover:hover {
  background-color: #259bca !important;
  color: white;
}

.nominate-hover:hover {
  background-color: #259bca !important;
  color: white;
}

.reject-hover:hover {
  background-color: #d4152f !important;
  color: black;
}

.wait-hover:hover {
  background-color: #f44336 !important;
  color: black;
}

.archive-hover:hover {
  background-color: #5f5f5f !important;
  color: white;
}

.delete-hover:hover {
  background-color: #d4152f;
  color: black;
}

.pending-hover {
  transition: linear 80ms color, linear 80ms background-color;
  color: rgb(255 124 0);
}

.recheck-hover {
  transition: linear 80ms color, linear 80ms background-color;
  color: #cf3274;
}

.accept-hover {
  transition: linear 80ms color, linear 80ms background-color;
  color: #25ca6a;
}

.finish-hover {
  transition: linear 80ms color, linear 80ms background-color;
  color: #259bca;
}

.nominate-hover {
  transition: linear 80ms color, linear 80ms background-color;
  color: #259bca;
}

.reject-hover {
  transition: linear 80ms color, linear 80ms background-color;
  color: #d4152f;
}

.wait-hover {
  transition: linear 80ms color, linear 80ms background-color;
  color: #f44336;
}

.archive-hover {
  transition: linear 80ms color, linear 80ms background-color;
  color: #5f5f5f;
}

.delete-hover {
  transition: linear 80ms color, linear 80ms background-color;
  color: #d4152f;
}

@media screen and (max-width: 820px) {
  .queuelayout {
    flex-wrap: wrap;
  }

  .ui-panel {
    margin: auto !important;
    width: 90% !important;
    position: static !important;
    margin-top: 141px !important;
  }

  .queuecontent {
    width: 90%;
    margin: auto;
  }

  .queuenav {
    justify-content: center !important;
    overflow-x: auto;
  }
}
