.audioplayer {
  --bg: transparent;
  width: 400px;
  min-height: 30px;
  position: fixed;
  bottom: -300px;
  right: 0;
  transition: linear 120ms;
  box-shadow: 0 0 5px 1px #00000063;
}

.audioplayer .container {
  background-color: var(--background3);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  padding: 10px 20px;
}

.audioplayer.visible {
  bottom: 0px;
}

.audioplayer .icon {
  width: 20px;
  cursor: pointer;
}

.audioplayer .track {
  width: 100%;
}

.audioplayer .position {
  width: 90%;
  height: 3px;
  border-radius: 1000px;
  background: var(--bg);
  margin: auto;
}

.audioplayer svg {
  font-size: 17px;
  cursor: pointer;
}

.audioplayer .controls {
  width: 32px;
  font-size: 17px;
}

.audioplayer .controls svg {
  margin-right: 20px;
}

.audioplayer .seekbar {
  width: 50%;
  height: 1px;
  color: var(--accent);
  margin-left: 10px;
  transition: linear height 120ms;
}

.audioplayer .seekbar:hover {
  height: 8px;
}

.audioplayer .banner {
  min-width: 30px;
  min-height: 30px;
  background-position: center;
  background-size: cover;
  padding: 10px;
  filter: brightness(0.5);
}

.audioplayer .seeknumber {
  display: flex;
  margin-left: 10px;
  font-weight: 600;
  width: 70px;
}

.audioplayer .seeknumber span {
  margin-left: 3px;
  margin-right: 3px;
}

.audioplayer .seeknumber .grey {
  color: var(--background7);
}

.audioplayer .volume:hover > .volumebar {
  opacity: 1;
  height: 300%;
}

.audioplayer .volumebar {
  margin-bottom: 25px;
  opacity: 0;
  transition: linear 120ms;
  color: var(--accent);
  position: absolute;
  height: 0%;
}

.audioplayer .volume {
  height: 20px;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}

@media screen and (max-width: 500px) {
  .audioplayer {
    width: calc(100%);
    border-radius: 0;
  }
}
