.beatmapstab {
  width: 100%;
  height: 72.5%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
  overflow-y: auto;
  animation-name: fade;
  animation-duration: 120ms;
  animation-timing-function: linear;
}
