.gdrequestpanel {
  position: fixed;
  width: 100%;
  height: calc(100% - 71px);
  transition: filter 120ms linear, backdrop-filter 120ms linear,
    opacity 120ms linear;
  backdrop-filter: blur(30px);
  background-color: #000000e0;
  z-index: 99;
  top: 71px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.gdrequestpanel .container {
  width: 95%;
  max-width: 1000px;
  height: 90%;
  background-color: var(--background1);
  border-radius: 0.5rem;
}

.gdrequestpanel .container .paneltitle {
  width: 95%;
  padding: 0px 2.5%;
  height: 60px;
  border-bottom: 1px solid var(--background3);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
}
