.gdselector {
  background-color: var(--background2);
  border-radius: 5px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  width: 260px;
  min-width: 270px;
  min-height: 340px;
}

.gdselector .bigbanner {
  width: 100%;
  height: 90px;
  border-radius: 5px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  background-size: 160%;
  background-position: center;
  background-repeat: no-repeat;
  transition: background-size linear 140ms;
  position: relative;
}

.bigbanner::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #0000008c;
  border-radius: 5px 5px 0px 0px;
  transition: linear 120ms background;
}

.gdselector:hover > .bigbanner {
  background-size: 180%;
}

.gdselector .attributes {
  width: 90%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin-top: 11px;
  color: var(--background7);
  font-size: 13px;
}

.gdselector .attributes div {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.gdselector .attributes div svg {
  margin-right: 5px;
}

.gdselector .title {
  color: white;
  font-size: 15px;
  font-weight: 500;
  width: fit-content;
  max-width: 90%;
  margin-right: auto;
  margin-left: 5%;
  margin-top: 5px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.gdselector .artist {
  color: #d5d5d5;
  font-size: 13px;
  width: fit-content;
  max-width: 90%;
  margin-right: auto;
  margin-left: 5%;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}

.gdselector .host {
  width: 90%;
  color: grey;
  font-size: 13px;
}

.gdselector .host span {
  color: var(--accent);
  font-weight: 600;
}

.gdselector .difficulties {
  width: 100%;
  height: 160px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
  margin-top: auto;
  overflow: auto;
  border-radius: 10px;
}

.gdselector .difficulties .difficulty {
  width: calc(90% - 20px);
  padding: 5px 10px;
  height: 35px;
  min-height: 35px;
  background-color: var(--background4);
  margin-top: 5px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
}

.gdselector .difficulties .difficulty:last-of-type {
  margin-bottom: 20px;
}

.gdselector .difficulties .difficulty.claimed {
  opacity: 0.3;
}

.gdselector .difficulties .difficulty .metadata {
  width: calc(90% - 10px);
  margin-left: 10px;
}

.gdselector .difficulties .difficulty .metadata .name {
  font-weight: 500;
}

.gdselector .difficulties .difficulty .metadata .mapper {
  font-size: 15px;
  color: grey;
}

.gdselector .difficulties .difficulty .metadata .mapper span {
  color: var(--accent);
  font-weight: 600;
}

.gdselector .difficulties::-webkit-scrollbar {
  width: 10px;
  border-radius: 5px;
}

.gdselector .difficulties::-webkit-scrollbar-track {
  width: 10px;
  border-radius: 5px;
  background-color: var(--background2);
}

.gdselector .difficulties::-webkit-scrollbar-thumb {
  width: 10px;
  border-radius: 5px;
  background-color: var(--background3);
}
