.language-selector {
  margin-top: auto;
  margin-bottom: 0;
  width: 95%;
  padding: 5px 2.5%;
  background: var(--background1);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
  border-top: 1px solid var(--background3);
  position: relative;

  &.open {
    .list {
      bottom: 100%;
      opacity: 1;
      pointer-events: all;
    }
  }

  .current {
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    user-select: none;
    z-index: 1;

    .flag {
      width: 30px;
      height: 40px;
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      margin-right: 10px;
    }

    .icon {
      margin-left: auto;
    }
  }

  .list {
    position: absolute;
    width: 100%;
    height: fit-content;
    bottom: -100%;
    pointer-events: none;
    left: 0;
    background: var(--background5);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    padding-top: 10px;
    max-height: calc(45px * 3.5);
    overflow-y: auto;
    transition: 120ms linear;
    opacity: 0;
    z-index: 0;

    .language-option {
      width: calc(95% - 20px);
      min-height: 40px;
      margin-bottom: 5px;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-content: center;
      justify-content: flex-start;
      align-items: center;
      padding: 0px 10px;
      cursor: pointer;

      .icon {
        margin-right: 10px;
        color: var(--green);
      }

      .language-flag {
        width: 30px;
        height: 20px;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        margin-right: 10px;
      }

      &:hover {
        background: var(--background4);
        border-radius: 5px;
      }

      &:last-child {
        border-bottom: none;
        margin-bottom: 10px;
      }
    }
  }
}
