.myrequestspanel {
  width: 100%;
  height: calc(100% - 71px);
  top: 71px;
  position: fixed;
  left: 0;
  background-color: #000000e0;
  z-index: 100;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  transition: opacity 120ms;
  pointer-events: none;
}

.myrequestspanel.open {
  opacity: 1;
  pointer-events: all;
}

.myrequestspanel.closed {
  opacity: 0;
  pointer-events: none;
}

.myrequestspanel.closed .container {
  margin-right: -25px;
}

.myrequestspanel .container {
  width: 90%;
  max-width: 1000px;
  height: 440px;
  background-color: var(--background1);
  border-radius: 0.5rem;
  overflow: hidden;
  transition: margin-right linear 80ms;
  padding-bottom: 10px;
}

.myrequestspanel .container .paneltitle {
  width: calc(100% - 40px);
  height: 20px;
  padding: 20px;
  color: white;
  border-bottom: 1px solid var(--background3);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
}

.myrequestspanel .container .paneltitle svg {
  cursor: pointer;
}

.myrequestspanel .container .requests {
  width: 100%;
  height: 77%;
  overflow-y: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
  align-items: flex-start;
  opacity: 1;
  transition: 120ms linear opacity;
}

.myrequestspanel .container .requests.loading {
  opacity: .5;
}

.myrequestspanel .container .filters {
  width: 92%;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
  margin-top: 10px;
}