.norequests {
  width: 90%;
  min-height: 40px;
  height: fit-content;
  margin: auto;
  margin-top: 10vh;
  margin-bottom: 10vh;
  padding: 40px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.norequests .big {
  color: white;
  font-size: 2rem;
  font-weight: 500;
}
