#pagebanner {
  width: 100%;
  height: 40vh;
  max-height: 2500px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#pagebanner::after {
  content: "";
  width: 100%;
  height: 250px;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(
    0deg,
    var(--background1) 0%,
    rgba(0, 0, 0, 0.281) 100%
  );
  z-index: 1;
}
