.queuepanel {
  width: 100%;
  height: calc(100% - 71px);
  top: 71px;
  position: fixed;
  left: 0;
  background-color: #000000e0;
  z-index: 100;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  transition: opacity 120ms;
  pointer-events: none;
}

.queuepanel.open {
  opacity: 1;
  pointer-events: all;
}

.queuepanel.closed {
  opacity: 0;
  pointer-events: none;
}

.queuepanel.closed .container {
  margin-right: -25px;
}

.queuepanel .container {
  width: 90%;
  max-width: 1000px;
  height: 440px;
  background-color: var(--background1);
  border-radius: 0.5rem;
  overflow: hidden;
  transition: margin-right linear 80ms;
  padding-bottom: 10px;
}

.queuepanel .container .row.timerrow {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 15px;
}

.queuepanel .container .row.timerrow button {
  margin-right: 10px;
}

.queuepanel .container .paneltitle {
  width: calc(100% - 40px);
  height: 20px;
  padding: 20px;
  color: white;
  border-bottom: 1px solid var(--background3);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
}

.queuepanel .container .paneltitle svg {
  cursor: pointer;
}

.queuepanel .container .options {
  width: 90%;
  height: 380px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
  margin: auto;
  overflow-y: auto;
  padding: 0% 5%;
  margin-bottom: 5%;
}

.queuepanel .container .options .option {
  width: 100%;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
}

.queuepanel .container .options .option p {
  color: #8d8d8d;
  font-weight: 500;
  transition: linear 120ms color;
}

.queuepanel .container .options .option.wide {
  flex-wrap: wrap;
}

.queuepanel .container .options .option.wide p {
  width: 100%;
}

.queuepanel .container .options .option button {
  margin-left: 5px;
}

.queuepanel .container .options .option:hover > p {
  color: white;
}

.queuepanel .container .options .option input {
  margin-top: 10px;
}

.queuepanel .container .options .option .row {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
  justify-content: flex-start;
}

.queuepanel .container .options .option .row.modes div {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.queuepanel .container .options .option .wrapper {
  width: 100%;
  height: 200px;
}

.queuepanel .container .options .option .rulespreview {
  margin-top: 10px;
  background-color: var(--background2);
}

.w-md-editor-toolbar {
  background-color: var(--background5) !important;
}

.wmde-markdown.wmde-markdown-color.w-md-editor-preview {
  background-color: var(--background2) !important;
}

@media screen and (max-width: 570px) {
  .queuepanel .container .options .option.modes .row {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: flex-start;
    justify-content: flex-start;
  }
}
