.requestpanel {
  width: 100%;
  height: calc(100% - 71px);
  top: 71px;
  position: fixed;
  left: 0;
  background-color: #000000e0;
  z-index: 100;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  transition: opacity 120ms;
  pointer-events: none;
}

.requestpanel.open {
  opacity: 1;
  pointer-events: all;
}

.requestpanel.closed {
  opacity: 0;
  pointer-events: none;
}

.requestpanel.closed .container {
  margin-right: -25px;
}

.requestpanel .container {
  width: 90%;
  max-width: 1000px;
  height: 440px;
  background-color: var(--background1);
  border-radius: 0.5rem;
  overflow: hidden;
  transition: margin-right linear 80ms;
}

.requestpanel .container .paneltitle {
  width: calc(100% - 40px);
  height: 20px;
  padding: 20px;
  color: white;
  border-bottom: 1px solid var(--background3);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
}

.requestpanel .container .paneltitle svg {
  cursor: pointer;
}

.requestpanel .container .tab {
  width: 95%;
  margin: 1% 2.5%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
}

.requestpanel .container .tab .option {
  padding: 10px;
  margin-right: 5px;
  border-radius: 0.3rem;
  background-color: var(--background5);
  color: #5a5a5a;
  user-select: none;
  cursor: pointer;
}

.requestpanel .container .tab .option.selected {
  background-color: var(--background3);
  color: white;
}
