.requestselector {
  width: 260px;
  min-width: 270px;
  min-height: 340px;
  border-radius: 0.5rem;
  background-color: var(--background2);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
  margin: 10px;
  transition: filter 120ms linear;
  filter: brightness(1);
  cursor: pointer;
  position: relative;
  transition: linear 140ms;
}

.requestselector.new {
  transition: opacity 120ms linear;
  animation-name: fade-out;
  animation-duration: 5s;
  animation-timing-function: linear;
}

.requestselector.newadd {
  transition: opacity 120ms linear;
  animation-name: grow;
  animation-duration: 320ms;
  animation-timing-function: cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.requestselector.loading {
  filter: brightness(0.5);
}

.requestselector:hover {
  box-shadow: 0 0 5px 1px #0000003d;
}

.requestselector .selected-overlay {
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  background-color: #2196f33b;
  outline: 4px solid var(--ocean);
  pointer-events: none;
  opacity: 0;
  transition: opacity 120ms linear;
}

.requestselector .selected-overlay.visible {
  opacity: 1;
}

.requestselector .selected-overlay .icon {
  width: fit-content;
  height: fit-content;
  position: relative;
  top: -0.5em;
  left: -0.5em;
}

.requestselector .selected-overlay svg {
  height: 2em;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.requestselector .banner {
  width: 100%;
  height: 90px;
  background-size: 160%;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: flex-end;
  justify-content: flex-start;
  align-items: flex-end;
  position: relative;
  border-radius: 0.5rem 0.5rem 0px 0px;
  transition: background-size linear 140ms;
}

.requestselector:hover > .banner {
  background-size: 180%;
}

.requestselector .banner * {
  z-index: 1;
}

.requestselector .banner .modders {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-end;
  align-items: center;
  margin-top: 10px;
}

.requestselector .banner .modders .modder_pic {
  width: 25px;
  height: 25px;
  border-radius: 100%;
  background-position: center;
  background-size: cover;
  border: 3px solid;
  margin-right: -10px;
}

.requestselector .banner .modders .modder_pic.truncate {
  background-color: var(--background3);
  border-color: var(--background4);
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}

.requestselector .banner .modders .modder_pic:last-child {
  margin-right: 10px;
}

.requestselector .tag {
  width: fit-content;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.requestselector .banner .actions {
  width: fit-content;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
  margin-right: 10px;
  margin-top: 5px;
}

.requestselector .preview-progress {
  width: 0%;
  height: 1px;
  margin-top: auto;
  margin-right: auto;
  margin-left: 0;
  background-color: var(--orange);
  z-index: 1;
  transition: width linear 80ms;
}

.requestselector .banner .row {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
  align-content: center;
}

.requestselector .banner .crossrequesticon {
  display: flex;
  height: 18px;
  flex-direction: row;
  align-content: center;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
  margin-top: 10px;
  margin-right: 10px;
  margin-left: auto;
}

.requestselector .banner .actions div {
  margin-left: 5px;
  cursor: pointer;
}

.requestselector .banner .actions svg {
  pointer-events: none;
}
.requestselector .banner .actions path {
  pointer-events: none;
}

.requestselector .banner::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #00000094;
  border-radius: 0.5rem 0.5rem 0px 0px;
}

.requestselector .banner .tag {
  color: white;
  background-color: var(--ocean);
  margin-top: 10px;
  margin-right: 10px;
  margin-left: auto;
}

.requestselector .attributes {
  width: 90%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin-top: 11px;
  color: var(--background7);
  font-size: 13px;
}

.requestselector .attributes div {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.requestselector .attributes div svg {
  margin-right: 5px;
}

.requestselector .title {
  color: white;
  font-size: 15px;
  font-weight: 500;
  width: fit-content;
  max-width: 90%;
  margin-right: auto;
  margin-left: 5%;
  margin-top: 5px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.requestselector .artist {
  color: #d5d5d5;
  font-size: 13px;
  width: fit-content;
  max-width: 90%;
  margin-right: auto;
  margin-left: 5%;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}

.requestselector .title:hover {
  text-decoration: underline;
}
.requestselector .artist:hover {
  text-decoration: underline;
}

.requestselector .mapper {
  width: 90%;
  font-size: 12px;
  color: gray;
  margin-bottom: 10px;
}

.requestselector .mapper a {
  margin-left: 3px;
  font-weight: 500;
}

.requestselector .commentlabel {
  width: 90%;
  font-size: 12px;
  margin-bottom: 5px;
  color: var(--background7);
  margin-top: auto;
}

.requestselector .commentlabel svg {
  margin-right: 3px;
}

.requestselector .comment {
  width: calc(90% - 10px);
  height: 60px;
  margin-bottom: 10px;
  border-radius: 0.3rem;
  color: rgb(156, 156, 156);
  text-align: left;
  font-size: 14px;
  padding: 5px;
  background-color: var(--background5);
  overflow-y: auto;
  overflow-x: hidden;
}

.requestselector .comment::-webkit-scrollbar {
  width: 3px;
  border-radius: 3px;
}

.requestselector .comment::-webkit-scrollbar-track {
  width: 3px;
  border-radius: 3px;
  background-color: var(--background4);
}

.requestselector .comment::-webkit-scrollbar-thumb {
  width: 3px;
  border-radius: 3px;
  background-color: var(--background3);
}

@keyframes fade-out {
  0% {
    box-shadow: 0 0 8px #1e76bc61;
    border: 1px solid var(--ocean);
  }

  90% {
    box-shadow: 0 0 8px #1e76bc61;
    border: 1px solid var(--ocean);
  }

  100% {
    box-shadow: 0 0 8px transparent;
    border: 1px solid transparent;
  }
}

@keyframes grow {
  0% {
    transform: scale(0.3);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}
