.searchselect {
  min-width: fit-content;
  max-width: 210px;
  height: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  color: white;
  margin-right: 5px;
}

.searchselect p {
  display: block;
  width: 80px;
  height: fit-content;
  line-height: 0;
  margin-bottom: 0;
  margin-right: 5px;
  font-weight: 500;
}

.searchselect select {
  width: 70%;
  height: 30px;
  color-scheme: dark;
  border: none;
  border-radius: 0.2rem;
  cursor: pointer;
}

.searchselect .icon {
  width: fit-content;
  height: 17px;
  margin-right: 6px;
  margin-left: 6px;
}
