.sidemenu {
  height: calc(100vh - 71px);
  position: fixed;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: flex-start;
  justify-content: flex-end;
  align-items: flex-start;
  transition: opacity 120ms linear, backdrop-filter 120ms linear;
  z-index: 10;
  background-color: #00000083;
  margin-right: -300px !important;
  backdrop-filter: blur(30px);
  top: 71px;
}

.sidemenu .container {
  width: 300px;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--background2);
  transition: margin-right 100ms linear;
}

.sidemenu.closed {
  pointer-events: none;
  opacity: 0 !important;
  backdrop-filter: blur(0px);
}

.sidemenu.closed .container {
  margin-right: -300px !important;
}

.sidemenu.open .container {
  margin-right: 0px !important;
}

.sidemenu .container .title {
  width: 95%;
  height: 50px;
  padding: 0px 2.5%;
  background-color: var(--background4);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
}

.sidemenu .container .title p {
  color: white;
  font-weight: 500;
}

.sidemenu .clearnotifications {
  width: calc(100% - 20px);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
  margin: 10px 10px;
}

.sidemenu .clearnotifications svg {
  margin-right: 10px;
}

.sidemenu .clearnotifications * {
  color: #707070;
  cursor: pointer;
  transition: linear 120ms color;
}

.sidemenu .nonotifications {
  width: 85%;
  padding: 20px 10px;
  background: var(--background3);
  border-radius: 5px;
  margin: auto;
  margin-top: 5%;
  text-align: center;
}

.sidemenu .clearnotifications:hover * {
  color: white;
}

.sidemenu .notifications {
  width: 100%;
  height: calc(100vh - 50px - 71.11px);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
  overflow-y: auto;
  overflow-x: hidden;
}

.sidemenu .notifications .notification .icon {
  padding: 20px;
}

.sidemenu .notifications div.notification {
  width: 90%;
  margin-top: 10px;
  padding: 10px;
  border-radius: 0.5rem;
  background-color: var(--background4);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  opacity: 1;
  transition: background-color linear 120ms, opacity linear 120ms;
  /* animation: FadeInFromRight 0.4s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  animation-fill-mode: both; */
}

@keyframes FadeInFromRight {
  0% {
    opacity: 0;
    transform: translateX(120px);
  }

  85% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

.sidemenu .notifications .notification:hover {
  background-color: var(--background3);
}

.sidemenu .notifications .notification .horizontal {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
}

.sidemenu .notifications .notification .horizontal .content {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
}

.sidemenu .notifications .notification .delete-overlay {
  opacity: 0;
  pointer-events: none;
  height: 0px;
  width: 100%;
  transition: linear 100ms height, linear 120ms opacity, linear 120ms margin-top;
  border-radius: 10px;
  margin-top: 0px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.sidemenu .notifications .notification:hover > .delete-overlay {
  opacity: 1;
  width: 100%;
  pointer-events: all;
  height: 30px;
  margin-top: 10px;
  background-color: var(--ocean);
}

.sidemenu .notifications .notification.loading {
  opacity: 0.6;
  pointer-events: none;
}

.sidemenu .container .options {
  width: 95%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
}

.sidemenu .container .options .option {
  width: 100%;
  height: 40px;
  margin-top: 10px;
  border-radius: 5px;
  background-color: var(--background3);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 400;
  opacity: 0.5;
  transition: opacity 80ms linear;
  cursor: pointer;
  user-select: none;
}

.sidemenu .container .options .option:hover {
  opacity: 1;
}
